= javascript_pack_tag 'movie_list_filter'
= javascript_pack_tag 'movie_popup'

%h1 All Movies
%table#movies
    %thead
        %tr
            %th No.
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
    %tbody
        = render :partial=>'movie', :collection=>@movies

= link_to 'Add new movie', new_movie_path

%h1 Search TMDb for a movie

= form_tag({:controller => "movies",:action=>"search_tmdb"}, :method => "get") do
    %label{:for => 'search_terms'} Search Terms
    = text_field_tag 'search_terms'
    = submit_tag 'Search TMDb'

= javascript_pack_tag 'movie_list_filter', "data-turbolinks-track" => false
= javascript_pack_tag 'movie_popup', "data-turbolinks-track" => false